<a href="https://colab.research.google.com/github/hamednasr/DDoS-Attacks/blob/main/LG_Normalized.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import common libraries

import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
data = pd.read_csv('KDDTrain.csv')
data

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,Label
0,0,146,0,0,0,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
1,0,0,0,0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune
2,0,232,8153,0,0,0,0,0,1,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
3,0,199,420,0,0,0,0,0,1,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal
4,0,0,0,0,0,0,0,0,0,0,...,19,0.07,0.07,0.00,0.00,0.00,0.00,1.00,1.00,neptune
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125967,0,0,0,0,0,0,0,0,0,0,...,25,0.10,0.06,0.00,0.00,1.00,1.00,0.00,0.00,neptune
125968,8,105,145,0,0,0,0,0,0,0,...,244,0.96,0.01,0.01,0.00,0.00,0.00,0.00,0.00,normal
125969,0,2231,384,0,0,0,0,0,1,0,...,30,0.12,0.06,0.00,0.00,0.72,0.00,0.01,0.00,normal
125970,0,0,0,0,0,0,0,0,0,0,...,8,0.03,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune
125971,0,151,0,0,0,0,0,0,1,0,...,77,0.30,0.03,0.30,0.00,0.00,0.00,0.00,0.00,normal

In [ ]:
# Remove rows contain null values (in the case there are null values)
# In our data, please remove the second row on csv file before importing the file

rows, columns = np.where(pd.isnull(data))
data_filtered = data.drop(labels=rows)

print("There are %d rows having null values" %(len(data) - len(data_filtered)))

data_filtered

There are 0 rows having null values

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,Label
0,0,146,0,0,0,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
1,0,0,0,0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune
2,0,232,8153,0,0,0,0,0,1,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
3,0,199,420,0,0,0,0,0,1,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal
4,0,0,0,0,0,0,0,0,0,0,...,19,0.07,0.07,0.00,0.00,0.00,0.00,1.00,1.00,neptune
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125967,0,0,0,0,0,0,0,0,0,0,...,25,0.10,0.06,0.00,0.00,1.00,1.00,0.00,0.00,neptune
125968,8,105,145,0,0,0,0,0,0,0,...,244,0.96,0.01,0.01,0.00,0.00,0.00,0.00,0.00,normal
125969,0,2231,384,0,0,0,0,0,1,0,...,30,0.12,0.06,0.00,0.00,0.72,0.00,0.01,0.00,normal
125970,0,0,0,0,0,0,0,0,0,0,...,8,0.03,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune
125971,0,151,0,0,0,0,0,0,1,0,...,77,0.30,0.03,0.30,0.00,0.00,0.00,0.00,0.00,normal

In [ ]:
# Remove duplicate rows

data_unduplicated = data_filtered.drop_duplicates()
print("There are %d duplicated rows" %(len(data_filtered) - len(data_unduplicated)))
data_unduplicated

There are 6356 duplicated rows

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,Label
0,0,146,0,0,0,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
1,0,0,0,0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune
2,0,232,8153,0,0,0,0,0,1,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
3,0,199,420,0,0,0,0,0,1,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal
4,0,0,0,0,0,0,0,0,0,0,...,19,0.07,0.07,0.00,0.00,0.00,0.00,1.00,1.00,neptune
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125967,0,0,0,0,0,0,0,0,0,0,...,25,0.10,0.06,0.00,0.00,1.00,1.00,0.00,0.00,neptune
125968,8,105,145,0,0,0,0,0,0,0,...,244,0.96,0.01,0.01,0.00,0.00,0.00,0.00,0.00,normal
125969,0,2231,384,0,0,0,0,0,1,0,...,30,0.12,0.06,0.00,0.00,0.72,0.00,0.01,0.00,normal
125970,0,0,0,0,0,0,0,0,0,0,...,8,0.03,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune
125971,0,151,0,0,0,0,0,0,1,0,...,77,0.30,0.03,0.30,0.00,0.00,0.00,0.00,0.00,normal

In [ ]:
# Define feature vectors and labels

X, y = data_unduplicated.iloc[:, :-1], data_unduplicated.iloc[:, -1]
print("Shape of X: %s" %str(X.shape), "- Type of X: %s" %str(type(X)))
print("Shape of y: %s" %str(y.shape), "- Type of y: %s" %str(type(y)))
y

Shape of X: (119616, 38) - Type of X: <class 'pandas.core.frame.DataFrame'>
Shape of y: (119616,) - Type of y: <class 'pandas.core.series.Series'>

0          normal
1         neptune
2          normal
3          normal
4         neptune
           ...
125967    neptune
125968     normal
125969     normal
125970    neptune
125971     normal
Name: Label, Length: 119616, dtype: object

In [ ]:
# Classes of data

print("The number of original classes: %d" %len(y.unique()))
np.array(y).shape

The number of original classes: 23

(119616,)

In [ ]:
# Transform from 23 classes to 5 main classes of Internet attacks
# normal --> normal
# back, neptune, pod, smurf, teardrop --> DOS
# ipsweep, nmap, portsweep, satan --> Probing
# ftp_write, guess_passwd, imap, multihop, phf, spy, warezclient, warezmaster --> R2L
# buffer_overflow, loadmodule, perl, rootkit --> U2R

y_array = np.array(y)
y_encoded = np.zeros((y.shape))
for i in range(len(y_array)):
    if y_array[i] in ['normal']:
        y_array[i] = 'normal'
        y_encoded[i] = 0
    elif y_array[i] in ['back', 'land', 'neptune', 'pod', 'smurf', 'teardrop']:
        y_array[i] = 'DOS'
        y_encoded[i] = 1
    elif y_array[i] in ['ipsweep', 'nmap', 'portsweep', 'satan']:
        y_array[i] = 'probing'
        y_encoded[i] = 2
    elif y_array[i] in ['ftp_write', 'guess_passwd', 'imap', 'multihop', 'phf', 'spy', 'warezclient', 'warezmaster']:
        y_array[i] = 'R2L'
        y_encoded[i] = 3
    elif y_array[i] in ['buffer_overflow', 'loadmodule', 'perl', 'rootkit']:
        y_array[i] = 'U2R'
        y_encoded[i] = 4
y_df = pd.Series(y_array)
y_df.unique()

array(['normal', 'DOS', 'R2L', 'probing', 'U2R'], dtype=object)

In [ ]:
# Check the number of each class

#for name in y_df.unique():
for name in y_df.unique():
    print("The number of samples of class %s: %d" %(str(name), len(X[y_array==name])))
y_encoded[:10]

The number of samples of class normal: 67292
The number of samples of class DOS: 39893
The number of samples of class R2L: 995
The number of samples of class probing: 11384
The number of samples of class U2R: 52

array([0., 1., 0., 0., 1., 1., 1., 1., 1., 1.])

In [ ]:
# Sort samples according to labels (optional)

data_new = X
data_new['Label'] = y_encoded
data_sorted = data_new.sort_values(by='Label')
data_sorted

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,Label
0,0,146,0,0,0,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.0,0.0,0.00,0.0,0.0
71814,0,241,4198,0,0,0,0,0,1,0,...,255,1.00,0.00,0.50,0.04,0.0,0.0,0.00,0.0,0.0
71813,0,0,0,0,0,0,0,0,0,0,...,93,1.00,0.00,0.08,0.34,0.0,0.0,1.00,1.0,0.0
71812,0,45,127,0,0,0,0,0,0,0,...,200,0.85,0.02,0.85,0.01,0.0,0.0,0.11,0.0,0.0
71810,0,206,12090,0,0,0,0,0,1,0,...,255,1.00,0.00,0.17,0.04,0.0,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84225,0,0,5928,0,0,0,0,0,1,0,...,82,1.00,0.00,1.00,0.02,0.0,0.0,0.00,0.0,4.0
99759,158,1567,3095,0,0,0,3,0,1,4,...,2,1.00,0.00,0.50,0.00,0.0,0.0,0.00,0.0,4.0
108499,85,277,693,0,0,0,0,0,0,0,...,1,1.00,0.00,1.00,0.00,0.0,0.0,0.00,0.0,4.0
82251,7,226,698,0,0,0,4,0,1,0,...,1,1.00,0.00,1.00,0.00,0.0,0.0,0.00,0.0,4.0
89256,33,2402,3815,0,0,0,3,0,1,2,...,3,1.00,0.00,0.33,0.00,0.0,0.0,0.00,0.0,4.0

In [ ]:
# Split the training set and testing set
data_array = data_sorted.to_numpy()
X_new, y_new = data_array[:, :-1], data_array[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X_new, y_new, test_size=0.2, random_state=0)

In [ ]:
# Feature selection
feature_selection = SelectKBest(chi2, k=10).fit(X_train, y_train)
X_train_new = feature_selection.transform(X_train)
X_test_new = feature_selection.transform(X_test)
feature_selection.get_support()

array([ True,  True,  True, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True,  True, False,  True, False, False, False, False,
       False,  True,  True, False, False, False, False, False,  True,
       False, False])

In [ ]:
################################## CASE 2 ################################
##################### ---- WITH NORMALIZATION STEP -----##############
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
X_train_scaled = std_scaler.fit_transform(X_train_new)
X_test_scaled = std_scaler.fit_transform(X_test_new)
X_train_scaled.shape

(95692, 10)

In [ ]:
## Logistic regression - With Normalization
C_=np.logspace(-6,6,13)
solver_=['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']
multi_class_=['ovr', 'multinomial']

param_grid = [{'solver': solver_, 'C': C_,'multi_class':multi_class_}]
grid_search = GridSearchCV(LogisticRegression(max_iter=300), 
                           param_grid=param_grid, 
                           cv=5,
                           scoring='f1_weighted',
                           n_jobs=-1)

grid_search.fit(X_train_scaled, y_train)
lg_clf = grid_search.best_estimator_
lg_clf

LogisticRegression(C=10000.0, max_iter=300, multi_class='multinomial',
                   solver='newton-cg')

In [ ]:
logistic = LogisticRegression(max_iter=300,
                              C=10000,
                              n_jobs=-1,
                              solver='newton-cg',
                              multi_class='multinomial')
logistic.fit(X_train_scaled, y_train)

LogisticRegression(C=10000, max_iter=300, multi_class='multinomial', n_jobs=-1,
                   solver='newton-cg')

In [ ]:
y_train_pred = logistic.predict(X_train_scaled)
y_test_pred = logistic.predict(X_test_scaled)

In [ ]:
# check Accuaracy on Traing and Testing Data
train_accuracy_lg = logistic.score(X_train_scaled,y_train)
print("Train Accuaracy: " , train_accuracy_lg)

test_accuracy_lg = logistic.score(X_test_scaled,y_test)
print("Test Accuaracy: " , test_accuracy_lg)

Train Accuaracy:  0.8656314007440539
Test Accuaracy:  0.7779217522153486

In [ ]:
print(confusion_matrix(y_test, y_test_pred))
print("==================================")
print(classification_report(y_test, y_test_pred))

[[12923     0   474    44     0]
 [ 1548  4935  1517     0     0]
 [ 1510     3   748     0     0]
 [  154     0    55     5     0]
 [    7     0     1     0     0]]
==================================
              precision    recall  f1-score   support

         0.0       0.80      0.96      0.87     13441
         1.0       1.00      0.62      0.76      8000
         2.0       0.27      0.33      0.30      2261
         3.0       0.10      0.02      0.04       214
         4.0       0.00      0.00      0.00         8

    accuracy                           0.78     23924
   macro avg       0.43      0.39      0.39     23924
weighted avg       0.81      0.78      0.77     23924

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))